.button-light {
  width: 16.4rem;
  height: 4.5rem;

  border-radius: 2.3rem;
  border: 0;

  background: var(--color-primary);
  color: var(--color-text-in-white);
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.button-dark {
  width: 16.4rem;
  height: 4.5rem;

  padding: 0 2.7rem;

  border-radius: 2.3rem;
  border: 0;

  background: var(--color-secondary);
  color: var(--color-background);
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.button-dark img {
  margin-left: 1rem;
}

/* ----- Switch ----- */
.toggle-switch {
  /** bar */
  --bar-height: 14px;
  --bar-width: 34px;
  --bar-color: #221F1F42;

  /** knob */
  --knob-size: 20px;
  --knob-color: #F1F1F1;

  /** switch */
  --switch-offset: calc(var(--knob-size) - var(--bar-height));
  --switch-width: calc(var(--bar-width) + var(--switch-offset));
  --transition-duration: 150ms;
  --switch-transition: all var(--transition-duration) ease-in-out;
  --switch-theme-rgb: 0, 150, 136;
  --switch-theme-color: rgb(var(--switch-theme-rgb));
  --switch-box-shadow: 0 2px 2px #0000003D;
  --switch-margin: 8px;

  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  min-width: var(--bar-width);
  min-height: var(--bar-height);
  margin: var(--switch-margin);
  user-select: none;
}

.toggle-switch.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.toggle-switch > input,
.toggle-switch-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.toggle-switch > label,
.toggle-switch-label {
  --knob-x: calc((var(--bar-height) - var(--bar-width)) / 2);

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--bar-width);
  height: var(--bar-height);
  margin: var(--switch-margin);
  user-select: none;
}

/* checked */
.toggle-switch > :checked + label,
:checked + .toggle-switch-label {
  --knob-x: calc((var(--bar-width) - var(--bar-height)) / 2);
}

/* bar */
.toggle-switch > label::before,
.toggle-switch-label::before {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: var(--bar-width);
  height: var(--bar-height);
  background: var(--bar-color);
  border: 0px solid var(--switch-theme-color);
  border-radius: var(--bar-height);
  opacity: 0.5;
  transition: var(--switch-transition);
  content: "";
}

/* checked bar */

.toggle-switch > :checked + label::before,
:checked + .toggle-switch-label::before {
  background: var(--switch-theme-color);
}

/* knob */
.toggle-switch > label::after,
.toggle-switch-label::after {
  box-sizing: border-box;
  width: var(--knob-size);
  height: var(--knob-size);
  background: var(--knob-color);
  border-radius: 50%;
  box-shadow: var(--switch-box-shadow);
  transform: translateX(var(--knob-x));
  transition: var(--switch-transition);
  content: "";
}

/* checked knob */
.toggle-switch > :checked + label::after,
:checked + .toggle-switch-label::after {
  background: var(--switch-theme-color);
}

/* hover & focus knob */
.toggle-switch > :focus + label::after,
:focus + .toggle-switch-label::after,
.toggle-switch:hover > label::after,
:hover > .toggle-switch-label::after {
  box-shadow: var(--switch-box-shadow), 0 0 0 calc(var(--knob-size) / 4) rgba(var(--switch-theme-rgb), 0.1);
}

/* font */ 
.login-options,
.login-options a {
  font-family: Montserrat, sans-serif;
  color: var(--color-text-base);
}

/* magin */ 
.toggle-switch {
  margin-top: 0;
}
