.progress-container {
  width: 57.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: min(2vh, 3rem);
}

.progress-legend {  
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  

  font-family: Helvetica Neue, 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5rem;
  color: var(--color-line-in-white);
}

.progress-legend span:nth-of-type(2) {
  /* Dados */
  margin-left: 8.5rem;
}

.progress-legend span:nth-of-type(3) {
  /* Pagameto */
  margin-left: 11rem;
}

.progress-legend span:nth-of-type(4) {
  /* Acesso */
  margin-left: 11.5rem;
}

.progress-legend span.active {
  color: var(--color-secondary);
}
