#main-header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100vw;
  height: 6.6rem;
  padding-left: 3vw;
  padding-right: 3vw;
  background: var(--color-background);
  box-shadow: 0px 3px 6px #00000029;
}

#main-header.premium {
  background: var(--color-secondary);
}
#main-header.premium .header-content-wrapper > img {
  align-self: flex-start;
  height: 9.6rem;
  margin-top: -0.7rem;
  margin-left: -0.95rem;
}
#main-header.premium .header-content-wrapper input {
  background: rgba(255, 255, 255, 0.09);
  border: 0;
  color: var(--color-text-white);
}
#main-header.premium .header-content-wrapper input::placeholder {
  color: var(--color-text-white);
}
#main-header.premium .header-content-wrapper form button svg {
  color: var(--color-text-white);
}
#main-header.premium .header-content-wrapper .header-menu {
  width: 56vw;
}
#main-header.premium .header-menu ul {
  width: 100%;
}
#main-header.premium .header-menu ul li a {
  color: var(--color-text-white);
}

#main-header .header-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 192rem;
  height: 100%;
  margin: 0 auto;
}
#main-header .header-content-wrapper > button {
  display: flex;
  align-items: center;
  background: none;
}
#main-header .header-content-wrapper > button img {
  height: 3.8rem;
}
#main-header .header-content-wrapper form {
  position: relative;
}
#main-header .header-content-wrapper form button {
  position: absolute;
  top: 50%;
  right: 1.8rem;
  width: 2.2rem;
  height: 2.2rem;
  background: none;
  transform: translate(0, -50%);
}
#main-header .header-content-wrapper form button svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  color: var(--color-text-base);
}
#main-header .header-content-wrapper input {
  text-overflow: ellipsis;
  width: 16vw;
  max-width: 32.3rem;
  height: 4rem;
  padding-left: 1.8rem;
  padding-right: 3.8rem;
  border: 1px solid #bfbfbf;
  border-radius: 20px;
  font-family: Montserrat, sans-serif;
}
#main-header .header-content-wrapper input::placeholder {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  color: var(--color-line-in-white);
}
#main-header .header-content-wrapper input img {
  width: 1.7rem;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 65vw;
  max-width: 107.5rem;
}
.header-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 73%;
  margin-bottom: 0;
}
.header-menu li {
  list-style: none;
}
.header-menu li a,
.header-menu li button {
  background: none;
  color: var(--color-text-base);
  text-decoration: none;
  font: normal 1.4rem/2rem Montserrat, sans-serif;
  transition-property: all;
  transition-duration: 0.2s;
}
.header-menu li a .menu-icon,
.header-menu li button .menu-icon {
  width: 1.6rem;
  margin-right: 0.3rem;
  fill: currentColor;
}
.header-menu li a .menu-icon svg,
.header-menu li button .menu-icon svg {
  fill: currentColor;
}
.header-menu li button.signup {
  text-decoration: underline;
}
.header-menu li.active a {
  font-weight: 700;
  color: #5d883e;
  pointer-events: none;
}
.header-menu li a:hover,
.header-menu li button:hover {
  font-weight: 700;
  color: #5d883e;
  text-decoration: none;
}
.header-menu li .profile-picture {
  width: 3.7rem;
  height: 3.7rem;
}
.header-menu li .profile-picture img {
  width: 3.7rem;
  border-radius: 50%;
  object-fit: cover;
}

#main-header button#button-rounded {
  width: max(25%, 17.2rem);
  max-width: 25.2rem;
  height: 4rem;
  font-size: 1.3rem;
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
