$font-primary: Montserrat, sans-serif;

body {
  overflow-x: hidden;
}

#course-track {
  width: 100vw;
  min-height: 100vh;
  background: var(--color-background);
}

#course-track main {
  height: 60rem;

  margin-top: 6.6rem;
}

header.course-track-header {
  position: fixed;
  z-index: 99999;
  top: 0;

  width: 100vw;
  height: 6.6rem;

  padding-left: 4vw;
  padding-right: 2vw;

  background: var(--color-background);
  box-shadow: 0px 3px 6px #00000029;
}

.header-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 192rem;
  height: 100%;

  margin: 0 auto;

  a {
    display: flex;
    align-items: center;

    img {
      // margin-left: max(8rem, 4vw);
      height: 3.8rem;
    }
  }

  form {
    position: relative;

    button {
      position: absolute;
      top: 50%;
      right: 1.8rem;

      transform: translate(0, -50%);

      background: none;
    }
  }

  input {
    text-overflow: ellipsis;

    width: 16vw;
    max-width: 32.3rem;
    height: 4rem;

    padding-left: 1.8rem;
    padding-right: 3.8rem;
    border: 1px solid #bfbfbf;
    border-radius: 20px;

    font-family: $font-primary;

    &::placeholder {
      font-family: $font-primary;
      font-size: 1.4rem;
      color: var(--color-line-in-white);
    }
  }
}

.course-track-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 65vw;
  max-width: 107.5rem;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 73%;
    max-width: 75rem;

    margin-bottom: 0;
  }

  li {
    font-family: $font-primary;
    font-size: 1.4rem;
    line-height: 2rem;
    list-style: none;

    a {
      color: var(--color-text-base);
      text-decoration: none;

      transition-property: all;
      transition-duration: 0.2s;
    }

    a.signup {
      text-decoration: underline;
    }

    &.active {
      a {
        border-bottom: 3px solid #b0d135;

        font-weight: 700;
        color: #5d883e;
      }
    }

    a:hover {
      border-bottom: 3px solid #b0d135;

      color: #5d883e;
      text-decoration: none;
    }
  }
}

button#button-rounded {
  width: max(25%, 17.2rem);
  max-width: 25.2rem;
  height: 4rem;

  font-size: 1.3rem;
  font-weight: 700;
}

#course-track header.hero {
  overflow: hidden;

  position: relative;

  width: 100%;
  height: 29.5rem;

  .img-filter {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;

    background: #424242;

    opacity: 0.5;
  }

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    filter: blur(2.5px) brightness(100%);
  }
  .content-wrapper {
    position: absolute;
    z-index: 3;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 145rem;

    h2 {
      margin-bottom: 0.7rem;

      font: normal 2rem/2.4rem Montserrat;
      color: var(--color-primary);
    }

    h3 {
      font: normal 3rem/3.7rem Montserrat;
      color: var(--color-text-white);
    }
  }
}

#course-track-footer {
  width: 100vw;

  padding: 0 min(4vw, 4rem);

  background: var(--color-background-secondary);
  font-family: $font-primary;
  color: var(--color-text-base);

  .footer-content-wrapper {
    max-width: 145rem;
    height: 100%;

    margin: 0 auto;
    padding-top: 5.7rem;

    .row {
      min-height: 15.5rem;

      > div {
        margin-bottom: 3rem;
      }
    }

    img.footer-logo {
      max-width: 19.4rem;

      margin-top: -1.5rem;
      margin-left: -0.4rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.6rem;

      &.brand-description {
        max-width: 27.6rem;

        margin-top: -0.4rem;
      }
    }

    h3 {
      margin-bottom: 0.5rem;

      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 400;
    }

    h2 {
      margin-bottom: 0.5rem;

      font-size: 2rem;
      line-height: 2.5rem;
    }

    li {
      font-family: $font-primary;
      font-size: 1.8rem;
      line-height: 2.5rem;
      list-style: none;

      & + li {
        margin-top: 0.2rem;
      }

      a {
        display: block;
        max-width: 26.6rem;

        text-decoration: none;
        color: var(--color-text-base);
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .copyrights {
      justify-content: center;
      align-items: center;

      min-height: 9.3rem;
    }

    .social-networks-links {
      display: flex;
      flex-direction: row;

      margin-top: 0.8rem;

      img {
        width: 3.9rem;

        margin-right: 0.6rem;
      }
    }
  }
}
