$font-primary: Montserrat, sans-serif;
$font-secondary: "Source Sans Pro", sans-serif;

body {
  overflow-x: hidden;
}

#course-page {
  width: 100vw;
  min-height: 100vh;
  background: var(--color-background);

  h4 {
    margin-top: 8rem;
    font: normal 2.5rem/3rem $font-primary;
    color: var(--color-secondary);
  }
}

#course-page .hero {
  // overflow: hidden;
  position: relative;

  width: 100%;
  height: 29.5rem;

  margin-top: 6.5rem;

  .img-filter {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;

    background: #424242;

    opacity: 0.5;
  }

  .blur-container {
    overflow: hidden;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;

      filter: blur(2.5px) brightness(100%);
    }
  }

  .content-wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 100%;
    max-width: 153rem;
    height: 100%;

    padding: 2rem 4rem;

    .nav-tree {
      display: flex;
      align-items: center;

      width: fit-content;
      height: 3.3rem;

      margin-left: -10rem;
      margin-bottom: 8.7rem;
      padding: 0 1rem;
      border-radius: 0.7rem;

      background: rgba(0, 0, 0, 0.26);

      // Desabilita o offset em telas menores
      @media screen and (max-width: 1700px) {
        margin-left: 0;
      }

      span {
        margin: 0 1rem;

        font: normal 1.3rem/1.6rem $font-primary;
        color: var(--color-primary);
      }

      a {
        font: normal 1.3rem/1.6rem $font-primary;
        color: var(--color-primary);
        text-decoration: none;

        &:last-of-type {
          color: #ffffff;
          pointer-events: none;
        }
      }
    }

    > h1 {
      font: normal 3rem/3.7rem $font-primary;
      color: var(--color-text-white);
      text-transform: uppercase;
      width: 56%;
      max-width: 83rem;

      @media screen and (max-width: 1490px) {
        width: 51%;
      }

      @media screen and (max-width: 1195px) {
        width: 95%;
        max-width: 95%;
      }
    }

    > h3 {
      margin-bottom: 0.7rem;
      font: normal 2rem/2.4rem $font-primary;
      color: var(--color-primary);
      text-transform: uppercase;
    }
  }
}

#course-page > main {
  width: 100%;
  padding: 3rem 4rem 8rem 4rem;
  background: var(--color-background);

  .content-wrapper {
    position: relative;
    max-width: 145rem;
    margin: 0 auto;

    > section {
      width: 56%;
      max-width: 80.7rem;

      color: var(--color-text-base);

      @media screen and (max-width: 1490px) {
        width: 51%;
      }

      @media screen and (max-width: 1195px) {
        width: 95%;
        max-width: 95%;
      }
    }
  }
}

.course-description {
  p {
    margin-bottom: 3rem;
    font: normal 2rem/2.7rem $font-primary;
  }

  h3 {
    margin-bottom: 3.5rem;
    font: normal 2.5rem/3rem $font-primary;
    color: var(--color-secondary);
  }
}

.course-tab-selector {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
  }

  button {
    z-index: 30;
    flex: 1;

    padding: 0 1rem;
    padding-bottom: 0.7rem;

    background: none;
    font: normal 2.5rem/3rem $font-primary;

    transition: color 0.2s;

    &.active {
      color: var(--color-secondary);
      border-bottom: 6px solid var(--color-primary);
      pointer-events: none;
    }

    &:hover {
      color: var(--color-secondary);
      border-bottom: 6px solid var(--color-primary);
    }
  }

  .underline {
    position: relative;
    bottom: 0.4rem;

    width: 100%;
    max-width: 80.7rem;

    border-bottom: 2px solid var(--color-line-in-white);
  }
}

#modules {
  margin-top: 4rem;

  > p {
    font: normal 2rem/2.4rem $font-primary;

    & + p {
      margin-top: 2rem;
    }

    &:last-of-type {
      margin-bottom: 4rem;
    }
  }

  .course {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;

    & + .course {
      border-top: 2px solid var(--color-line-in-white);
      padding-top: 2rem;
    }
  }

  h2 {
    margin: 1.8rem 0 2rem 0;
    font: normal 3.5rem/4.3rem $font-primary;
  }

  .img-container {
    width: 45%;
    max-width: 19.2rem;
    margin-right: 1.8rem;

    .aspect-ratio {
      width: 100%;
      height: 0;
      padding-bottom: 61.45%;
      position: relative;
      border-radius: 1rem;

      .aspect-ratio__inner-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .course-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    p {
      font: normal 2rem/2.2rem $font-primary;
    }

    > div:first-of-type {
      display: flex;
      flex-direction: column;

      span {
        font: normal 1.7rem/2.2rem $font-primary;
        color: var(--color-secondary-alternative);
      }
    }

    > div:last-of-type {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        text-decoration: line-through;
        font: normal 2.5rem/2.2rem $font-primary;
        color: var(--color-secondary-alternative);
      }

      button {
        font: normal 2rem/2.2rem $font-primary;
        text-decoration: underline;
        background: none;
        color: var(--color-secondary-alternative);
      }
    }
  }
}

#course-page-details {
  margin-top: 4.4rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100%;

    li {
      display: flex;
      align-items: center;

      width: 50%;

      margin-bottom: 2.2rem;

      list-style: none;
      font: normal 2rem/4rem Montserrat;

      img {
        margin-right: 1.5rem;
      }
    }
  }

  p {
    width: 95%;
    font: normal 2rem/2.7rem Montserrat;

    & + p {
      margin-top: 1rem;
    }
  }
}

#course-page-advantages {
  margin-top: 4rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 2.2rem;
      list-style: none;
      font: normal 2rem/4rem Montserrat;

      a {
        display: inline;
        color: var(--color-text-base);
        text-decoration: none;
        font-weight: 700;

        &:hover {
          color: var(--color-secondary);
        }
      }
    }
  }

  > h4 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font: normal 2.5rem/3rem $font-primary;
    color: var(--color-secondary);
  }
}

#category {
  margin-top: 4rem;

  p {
    margin-bottom: 0.3rem;
    font: normal 2rem/2.7rem $font-primary;
  }

  .recomended {
    margin-top: 3rem;
  }

  > h4 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font: normal 2.5rem/3rem $font-primary;
    color: var(--color-secondary);
  }
}

#authors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 6rem;

  .author {
    width: 14%;
    height: 12.6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin: 5rem 0.7rem 0;
    padding: 0 1.5rem;
    border-radius: 0.8rem;
    background: var(--color-background-secondary);

    img {
      width: 6.9rem;
      height: 6.9rem;
      margin-top: -4rem;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      text-align: center;
      font: normal 1.5rem/1.8rem $font-primary;
    }

    a {
      font: normal 1.4rem/3rem $font-primary;
      color: var(--color-text-link);
    }
  }
}

#comments-section {
  width: 100%;

  h4 {
    margin-top: 3rem;
  }

  .comment {
    display: flex;
    margin-top: 3rem;

    > img {
      width: 6.6rem;
      height: 6.6rem;
      margin-right: 1.8rem;
      border-radius: 50%;
      object-fit: cover;
    }

    > div {
      flex: 1;
    }

    .name {
      display: flex;
      align-items: center;
      margin-bottom: 0.3rem;

      h6 {
        font: bold 1.7rem/2rem $font-secondary;
        color: var(--color-secondary);

        margin-right: 1rem;
      }

      span {
        display: block;
        font: normal 1.6rem/2rem $font-secondary;
        color: var(--color-primary);
      }
    }

    p {
      font: normal 1.6rem/2rem $font-secondary;
    }

    & + .comment {
      padding-top: 3rem;
      border-top: 1px solid #bfbfbf;
    }
  }
}
