#button-rounded {
  width: 16.4rem;
  height: 4.5rem;

  padding: 0 0.6rem;
  margin: 0;

  border-radius: 2.3rem;
  border: 0;

  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  cursor: pointer;

  transition: background-color 0.2s;
}

#button-rounded.primary {
  background: var(--color-primary);
  color: var(--color-text-in-white);
}

#button-rounded.primary:hover {
  background:  #a0bd2f;
}

#button-rounded.secondary {
  background: var(--color-secondary);
  color: var(--color-background);
}

#button-rounded.secondary:hover {
  background:#326f53;
}

#button-rounded img {
  margin-left: 1rem;
}

#button-rounded.alternative {
  background: var(--color-secondary-alternative);
  color: var(--color-background);

  font-weight: bold;
}

#button-rounded.alternative:hover {
  background:#547c33;
}

#button-rounded.transparent {
  width: 23.6rem;

  background: none;
  color: var(--color-text-in-white);

  border: 1px solid #707070;
}
