#plans-page {
  width: 100vw;
  height: 100vh;
  background: var(--color-background);
}

#plans-page .content-wrapper {
  width: 100%;
  /* max-width: 1100px; */

  height: 100%;
  /* max-height: 680px; */

  /* display: flex;
  flex-direction: row; */
}

/* ------ Main ------ */
#plans-page main {
  width: 50.5vw;
  height: 94vh;
  background: var(--color-secondary);

  float: left;

  display: flex;
  align-items: center;
  flex-direction: column;

  overflow: auto;
}

#plans-page main > img {
  /* width: 18.3rem; */
  height: min(6vh, 5.8rem);
  margin-top: 1rem;
}

#plans-page main > h2 {
  color: var(--color-primary);

  margin-top: min(9vh, 8.4rem);
  margin-bottom: min(3vh, 2.8rem);
}


.plans-selector {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: clamp(3rem, 7vh, 6rem);
}

.plans-selector button {
  width: 17.3rem;
  height: 5rem;
  border: 0;

  cursor: pointer;

  background: var(--color-background);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 200ms;
}

.plans-selector button:hover {
  background: var(--color-background);
}

.plans-selector button:first-of-type {
  border-radius: 2rem 0 0 2rem;
  margin-right: 1px;
}

.plans-selector button:last-of-type {
  border-radius: 0 2rem 2rem 0;
  margin-left: 1px;
}

.plans-selector button.active {
  background: var(--color-primary);
}

.plans-selector p {
  position: absolute;
  right: 4rem;
  bottom: -2rem;

  color: var(--color-text-white);
  font-size: 1.4rem;
}

/* ----- Plans Card ----- */
.plans-card {
  height: 42.2rem;
  min-height: 31rem;
  width: 52rem;

  background-color: var(--color-text-white);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  position: relative;
  overflow: hidden;

  display: none;
}

.plans-card.active {
  display: flex;
}

.plans-card .hiden {
  visibility: hidden;
}

.plans-card .corner-img {
  position:absolute;
  right:-1rem;
  top:-1rem;
}

.plans-card .corner-text span {
  position:absolute;
  top: 1.4rem;
  width: 6rem;
  right: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-secondary);
  transform: rotate(45deg);
  display:block;
}

.plans-card .corner-text span p {
  margin-top: 0;
}

.plans-card section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.plans-card section h3 {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 4.2rem;

  margin-top: 1rem;
}

.plans-card section p {
  color: var(--color-text-base);
  margin-top: 0.8rem;
}

.plans-card section h2 { 
  font-size: 3rem;

  color: var(--color-secondary);

  margin-top: 2.2rem;
  margin-bottom: -.2rem;
}

.plans-card section h2 span {
  font-size: 5rem;
}

.plans-card section + section p {
  margin-top: 0;
  font-size: 1.4rem;
}

.plans-card h2 + p{
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
}

.plans-card button {
  width: 29.7rem;
  height: 4.8rem;
  border: 0;
  border-radius: 4rem;

  margin-top: 1.2rem;

  cursor: pointer;

  background: var(--color-secondary);
  box-shadow: 0px 3px 10px #00000029;
  color: var(--color-text-white);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;

  display: none;
  align-items: center;
  justify-content: center;

  transition: background-color 200ms;
}

.plans-card button.active {
  display: flex;
}

.plans-card button strong {
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: .6rem;
}

.plans-card button + section p {
  /* color: var(--color-secondary); */
  margin-top: 1rem;
}

.plans-card .payment-options {
  margin-top: 1.1rem;
  margin-bottom: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.plans-card .payment-options img + img {
  margin-left: 2.3rem;
}

#plans-page main > p {
  font-family: Montserrat, sans-serif;
  color: var(--color-text-in-secondary);
  font-size: 1.6rem;

  margin-top: 1rem;
}

.other-plans {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: min(4vh, 4rem);
  margin-bottom: min(4vh, 4rem);
}

.other-plans a {
  color: var(--color-text-white);
  font-size: 1.7rem;
}

.other-plans a:first-of-type {
  margin-right: 6rem;
}


/* ------ Central image ------ */
.central-img-container {
  display: none;
}

.central-img-container.active {
  display: initial;
}

.central-img {
  width: min(17vw , 33.6rem);

  position: absolute;
  top: 48%;
  left: 51%;
  transform: translate(-50%, -50%);
  display: none;
}

.central-img.active {
  display: block;
}

/* ------ Aside ------ */
#plans-page aside {
  width: 49.5vw;
  height: 94vh;

  float: right;

  display: flex;
  align-items: right;
  flex-direction: column;
  justify-content: initial;

  overflow: auto;
}

/* Descrição do plano premium */
#plans-page aside .premium-description {
  margin-left: min(9.5vw, 18.3rem);
  display: none;

  padding-bottom: 3rem;
}

#plans-page aside .premium-description.active {
  display: block;
}

#plans-page aside .premium-description {
  width: clamp(30rem, 31vw, 51.2rem); 
}

#plans-page aside .premium-description video {
  width: 100%; 
  margin-top: min(6vh, 6rem);
  display: none;
}

#plans-page aside .premium-description video.active {
  display: block;
}

#plans-page aside .premium-description h2 {
  width: 52rem; 
  color: var(--color-secondary);

  margin-top: 2.7rem;

  font-weight: normal;
}

#plans-page ul {
  list-style: none;
  list-style-position: inside;
  width: 100%;
  color: #666666;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  line-height: 1.6;

  margin-top: 0.8rem;
  margin-bottom: 3rem;
}

#plans-page ul li {
  margin-left: 1.8rem;
}

#plans-page ul li::before {
  content: "• ";
  font-weight: normal;
  width: 0.5em;
  margin-left: -1em;
} 

/* ----- Login da contratação ----- */
#plans-page .login {
  height: 100%;
  width: 100%;
  display: none;

  flex-direction: column;
  justify-content: initial;

  padding-left: min(12vw, 23.2rem);

  background: var(--color-background-secondary);

  overflow: auto;
}

#plans-page .login.active {
  display: flex;
}

#plans-page .login .create-account-card {
  width: 47rem;
  height: 17.7rem;
  max-height: 16rem;
  border-radius: 1.7rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  margin-top: min(5vh, 5rem);

  background: var(--color-secondary);
}

#plans-page .login .create-account-card h3 {
  color: var(--color-text-white);
  font-weight: normal; 
  font-size: 2.2rem;

  margin: 1rem;
}

#plans-page .login .create-account-card .button-light {
  margin: 1rem;
}

#plans-page .login .login-card {
  width: 47rem;
  height: 54.8rem;
  border-radius: 1.7rem;

  display: flex;
  flex-direction: column;

  margin-top: min(7vh, 6.6rem);
  margin-bottom: min(2vh, 2rem);
  padding: 4.2rem 4.6rem 3.3rem 4.1rem;

  background: var(--color-background);
  box-shadow: 0px 3px 6px #00000029;
}

#plans-page .login .login-card h3 {
  font-weight: normal;
  color: var(--color-secondary);
}

#plans-page .login .login-card fieldset {
  border: 0;
  margin-top: 2.1rem;
}

#plans-page .login .login-card fieldset + fieldset {
  margin-top: 1.6rem;
}

#plans-page .login .login-card fieldset label {
  width: 100%;

  display: flex;

  font-size: 2rem;
  /* line-height: 34px; */
  color: var(--color-text-base);
  font-weight: normal;

  margin-bottom: 0.8rem;
  /*
  padding-bottom: 24px; */
}

#plans-page .login .login-card fieldset input {
  width: 38.3rem;
  height: 5.9rem;
  border: 1px solid #BFBFBF;
  border-radius: 3rem;
  outline: none;

  padding: 1.7rem;
  font-size: 1.6rem;
}

#plans-page .login .login-card fieldset input::placeholder {
  color: #BFBFBF;
  font-family: Montserrat, sans-serif;
}

#plans-page .login .login-card fieldset:last-of-type {
  margin-top: min(3vh, 3rem);
}

#plans-page .login-options,
#plans-page .login-options div a {
  font-family: Montserrat, sans-serif;
  color: var(--color-text-base);
}

#plans-page .login .login-card .login-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 2.3rem;
}

#plans-page .login .login-card .login-options a.button-dark {
  font-weight: bold;
}

#plans-page .login .login-card fieldset > div {
  width: 37.8rem;
  height: 9rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border: 1px solid #BFBFBF;
  border-radius: 0.6rem;
}

#plans-page .login .login-card fieldset > div button {
  width: 13rem;
  height: 4.1rem;

  border-radius: 4px;
  border: 1px solid #BFBFBF;
  box-shadow: 0px 2px 2px #00000029;

  background: var(--color-background);
  font-weight: bold;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#plans-page .login .login-card fieldset > div img {
  width: 1.9rem;
  margin-right: 0.5rem;
}

@media (max-height: 810px) {
  #plans-page main > h2,
  #plans-page .login .create-account-card,
  #plans-page .login .login-card,
  .other-plans {
    margin-top: 3rem;
  }
}


@media (max-height: 780px) {
  #plans-page main > h2,
  #plans-page .login .create-account-card,
  #plans-page .login .login-card,
  .other-plans {
    margin-top: 2rem;
  }

  .plans-selector {
    margin-bottom: 2.5rem;
  }

  #plans-page .login .login-card {
    padding: 2.2rem 4.6rem 2.3rem 4.1rem;
  }

  #plans-page .login .login-card fieldset {
    margin-top: 1vh;
  }
}

@media (max-width: 1360px) {
  #plans-page .login {
    padding-left: 6vw;
  }
  
}