#seja-premium {
  width: 100vw;
  height: 100vh;
  background: var(--color-background);
}

#seja-premium .content-wrapper {
  display: flex;
  flex-direction: row;
}

#seja-premium main {
  width: 50%;
  background: var(--color-secondary);

  display: flex;
  align-items: center;
  flex-direction: column;
}

#seja-premium main h2 {
  
}