#page-signup-address {
  width: 100vw;
  height: 100vh;
  background: var(--color-background);
}

#page-signup-address main {
  width: 100vw;
  height: 88vh;
  background: var(--color-background-secondary);

  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: column;

  overflow: auto;
}

#page-signup-address main h3 {
  font-weight: bold;
  margin-top: min(4vh, 6rem);
  margin-bottom: min(1vh, 3rem);

  color: var(--color-secondary);
}

@media (max-height: 850px) {
  .account-creation-address-card .progress-bar {
    margin-top: 2rem;
  }
}