#page-signup {
  width: 100vw;
  height: 100vh;
  background: var(--color-background);
}

#page-signup main {
  width: 100vw;
  height: 88vh;
  background: var(--color-background-secondary);

  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: column;

  overflow: auto;
}

#page-signup main h3 {
  font-weight: bold;
  margin-top: min(4vh, 6rem);
  margin-bottom: min(1vh, 3rem);

  color: var(--color-secondary);
}

@media (max-height: 850px) {
  #page-signup main h3 {
    margin-top: 2vh;
  }

  #page-signup form {
    padding-top: 2rem;
  }

  #page-signup form fieldset label {
    margin-bottom: 0;
  }

  #page-signup form section:first-of-type {
    margin: 1rem 0;
  }

  #page-signup a.button-dark,
  #page-signup .terms-and-policies {
    margin-top: 1rem;
  }

  .account-creation-address-card .progress-bar {
    margin-top: 2rem;
  }
}