.track-playlist-modal {
  overflow: auto;
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 2, 2, 0.85);
}
.track-playlist-modal .clickable-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.track-playlist-modal .content {
  position: relative;
  z-index: 9001;
  width: 65.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 4.4rem auto 20rem;
  padding: 3rem 4.2rem 0;
  background: #383332;
  box-shadow: 0px 3px 30px #00000029;
  border-radius: 1.7rem;
  color: var(--color-text-white);
}
.track-playlist-modal .content > p {
  font: normal 1.5rem/2.2rem Montserrat;
}
.track-playlist-modal .price-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.track-playlist-modal .price-container h2 {
  font: normal 2rem/3rem Montserrat;
  text-transform: uppercase;
}
.track-playlist-modal .price-container h3 {
  font: normal 1.8rem/3rem Montserrat;
}
.track-playlist-modal .price-container button {
  width: 21.2rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.9rem;
  margin: 1rem 0;
  background: var(--color-primary);
  color: var(--color-secondary);
  font: bold 2.5rem/2.2rem Montserrat;
}
.track-playlist-modal .price-container button:hover {
  background: var(--color-primary-hover);
}
.track-playlist-modal .price-container button img {
  margin-left: 1rem;
}
.track-playlist-modal .be-premium-card {
  width: 100%;
  height: 10.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-secondary);
  border-radius: 1.2rem;
  margin: 2rem 0 3rem;
}
.track-playlist-modal .be-premium-card p {
  width: 53%;
  margin-right: 3rem;
  font: normal 2rem/2.4rem Montserrat;
}
.track-playlist-modal .be-premium-card > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.track-playlist-modal .be-premium-card button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 1.7rem;
  border: 1px solid #FFFFFF;
  border-radius: 0.9rem;
  font: bold 2.5rem/2.2rem Montserrat;
  background: var(--color-secondary);
  color: var(--color-primary-hover);
}
.track-playlist-modal .be-premium-card button:hover {
  background: var(--color-secondary-hover);
}
.track-playlist-modal .be-premium-card span {
  display: block;
  margin-top: 0.7rem;
  color: var(--color-primary-hover);
  font: normal 1.5rem/1.5rem Montserrat;
}
.track-playlist-modal .be-premium-card span strong {
  font: bold 1.5rem/1.5rem Montserrat;
}
.track-playlist-modal .close-modal {
  margin-bottom: 1rem;
  font: normal 1.5rem/1.6rem Montserrat;
  cursor: pointer;
}
.track-playlist-modal .close-modal:hover {
  color: #e5e5e5;
}
.track-playlist-modal video {
  width: 56.7rem;
  height: 31.8rem;
  margin-bottom: 1rem;
  box-shadow: 0px 3px 6px #00000029;
}

.playlist-container {
  width: 65.2rem;
  align-self: center;
}

.video-container {
  width: 100%;
  height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #707070;
}
.video-container > img {
  width: 19.2rem;
  height: 10.8rem;
  margin-left: 4.2rem;
  object-fit: cover;
}
.video-container button {
  background: none;
  border-radius: 50%;
}
.video-container p {
  width: 23.9rem;
  font: normal 2rem/2.2rem Montserrat;
}
.video-container span {
  margin-right: 4rem;
  margin-left: 3rem;
  font: normal 2rem/2.2rem Montserrat;
}

.premium-offer-container {
  width: 100%;
  height: 26.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.premium-offer-container p {
  width: 80%;
  font: normal 2rem/3rem Montserrat;
  text-align: center;
}
.premium-offer-container button {
  width: 90%;
  height: 5.2rem;
  background: var(--color-primary);
  color: #535353;
  font: normal 2rem/2.2rem Montserrat;
  border-radius: 2.8rem;
}
.premium-offer-container button:hover {
  background: var(--color-primary-hover);
}
.premium-offer-container button strong {
  font: bold 2rem/2.2rem Montserrat;
}

.track-video-card {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  margin-top: -18rem;
}
.track-video-card .card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 54.4rem;
  height: 65.8rem;
  background: var(--color-background);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 14px;
}
.track-video-card main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.3rem;
}
.track-video-card video {
  width: 51.7rem;
  height: 29rem;
  object-fit: cover;
  box-shadow: 0px 3px 6px #00000029;
}
.track-video-card .video-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-top: 1.5rem;
}
.track-video-card .video-caption p {
  font: normal 1.8rem/2rem Montserrat;
}
.track-video-card .video-caption span {
  font: normal 2rem/2.2rem Montserrat;
}
.track-video-card h3 {
  width: 83%;
  margin: 3rem 0 2rem 0;
  font: normal 4.5rem/4.5rem Montserrat;
  color: var(--color-secondary);
  text-align: left;
}
.track-video-card h3 + div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83%;
}
.track-video-card h3 + div button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5.4rem;
  border-radius: 0.9rem;
  background: var(--color-secondary);
  color: var(--color-text-white);
  font: normal 2.5rem/3rem Montserrat;
}
.track-video-card h3 + div button:hover {
  background: var(--color-secondary-hover);
}
.track-video-card h3 + div button img {
  width: 4rem;
  margin-left: 1rem;
}
.track-video-card h3 + div span {
  margin-top: 1.5rem;
  font: normal 1.8rem/2.2rem Montserrat;
}

.card .offer {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
}
.card .offer p {
  width: 23.4rem;
  text-align: right;
  font: normal 2rem/2.4rem Montserrat;
}
.card .offer button {
  width: 18.3rem;
  height: 4.3rem;
  margin-left: 2rem;
  margin-right: 5rem;
  border: 1px solid var(--color-secondary);
  border-radius: 9px;
  background: none;
  color: var(--color-secondary);
  font: bold 2.5rem/2.2rem Montserrat;
}
.card .offer button:hover {
  background: var(--color-primary-hover);
}

.card-actions-container {
  width: 54.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 0 0.5rem;
}
.card-actions-container p {
  font: normal 1.8rem/4rem Montserrat;
}
.card-actions-container button {
  transition: transform 0.2s;
}
.card-actions-container button:hover {
  filter: brightness(90%);
  transform: translateY(-2px);
}
.card-actions-container .save {
  width: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}
.card-actions-container .share {
  width: 33.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-actions-container .share img {
  transition: transform 0.2s;
}
.card-actions-container .share img:hover {
  filter: brightness(90%);
  transform: translateY(-2px);
}

/*# sourceMappingURL=styles.css.map */
