.account-creation-address-card {
  width: 51.7rem;

  background: var(--color-background);

  border-radius: 1.3rem;
  box-shadow: 0px 3px 6px #00000029;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-creation-address-card form {
  width: 100%;

  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-creation-address-card form fieldset label {
  width: 100%;

  display: flex;

  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  color: var(--color-text-base);
  font-weight: normal;

  margin-bottom: 0.7rem;
}

.account-creation-address-card form fieldset input {
  width: 36rem;
  height: 5rem;
  border: 1px solid #BFBFBF;
  border-radius: 9px;
  outline: none;

  padding: 1.7rem;
  font-size: 1.6rem;

  color: var(--color-text-base);
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
}

.account-creation-address-card form fieldset input::placeholder {
  color: #BFBFBF;
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
}

.account-creation-address-card input:valid,
.account-creation-address-card select:valid {
  border: 2px solid #B2D235;
}

.account-creation-address-card form section {
  display: flex;
  flex-direction: row;

  margin-bottom: min(2vh, 2rem);
}

.account-creation-address-card form section fieldset + fieldset {
  margin-left: 1.6rem;
}

.account-creation-address-card form input.form-small {
  width: 9.6rem;
}

.account-creation-address-card .select-appearance {
  /* Remove estilo padrão do Chrome */  
  -webkit-appearance: none;  
  /* Remove estilo padrão do FireFox */
  -moz-appearance: none; 
  /* Remove estilo padrão do FireFox*/      
  appearance: none; 
  /* Imagem de fundo (Seta) */
  background: url('../../../assets/images/icons/form-select-open.svg') no-repeat #ffffff;  

  width: 9.6rem; 
  height: 5rem;   
  
  border: 1px solid #BFBFBF;
  border-radius: 9px;

  color: var(--color-text-base);
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
}


#country {   
  background-position: 1rem center;  
  /*Posição da imagem do background*/   

  padding-left: 3.1rem;
}

#state {     
  background-position: 6.5rem center;  
  /*Posição da imagem do background*/   
  
  padding-top: 0.2rem;
  padding-left: 2rem;

  font-size: 2rem;
}

#city {    
  /*Posição da imagem do background*/   
  background-position: 21.5rem center;  
  
  width: 25rem; 

  padding-left: 2rem;

  overflow: hidden;
  text-overflow: ellipsis;
}

.account-creation-address-card form input.form-medium {
  width: 25.1rem;
}


.account-creation-address-card a.button-dark {
  color: var(--color-background);

  margin-top: min(2vh, 2.4rem);
  margin-bottom: min(5vh, 4.8rem);
}

.account-creation-address-card .progress-bar {
  margin-top: min(4vh, 3.7rem);
}