/* ----- Pagamento no cartão de crédito ----- */
.payment-options-wrapper {
  width: 60rem;
  /* height: 74.6rem; */
  
  display: flex;
  align-items: center;
  flex-direction: column;
}

.payment-options-title {
  width: 51.7rem;

  margin-bottom: min(2vh, 2rem);
}

.payment-options-title h3 {
  font-weight: normal;

  color: #535353;
}

.credit-card {
  width: 51.7rem;
  
  border: 1px solid #BFBFBF;
  border-radius: 1.3rem;

  overflow: hidden;
}

.credit-card.active {
  margin-bottom: 2.2rem;
}

/* Trecho que estiliza os dois headers, do cartão e do boleto */
.payment-options-header {
  width: 100%;
  height: 7rem;

  padding: 2.1rem 4.3rem 2.1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-background-secondary);

}

.payment-options-header .MuiIconButton-label svg{
  width: 2.5rem;
  height: 2.5rem;
}

.payment-options-header div {
  display: flex;
  align-items: center;
}

.payment-options-header h3 {
  font-size: 1.8rem;
  font-weight: bold;

  padding-left: 1.5rem;
}

.active .payment-options-header h3 {
  font-weight: normal;
}

.payment-options-header > span {
  font-size: 1.7rem;
  color: #BFBFBF;
}

/* Fim do trecho que estiliza os dois headers, do cartão e do boleto */

.credit-card main {
  height: 45.7rem;

  border-top: 1px solid #BFBFBF;

  display: none;
}

.credit-card.active main {
  display: flex;
}

.credit-card form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.credit-card form fieldset label {
  display: flex;

  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  color: var(--color-text-base);
  font-weight: normal;

  margin-bottom: 0.7rem;
}

.credit-card form > fieldset:first-of-type {
  width: 36.2rem;

  display: flex;
  justify-content: space-between;
}

.credit-card form > fieldset:first-of-type label {
  width: 10rem;

  margin-top: 0.8rem;

  text-align: right;
  font-size: 1.7rem;
}

.credit-card form .select-appearance {
  /* Remove estilo padrão do Chrome */  
  -webkit-appearance: none;  
  /* Remove estilo padrão do FireFox */
  -moz-appearance: none; 
  /* Remove estilo padrão do FireFox*/      
  appearance: none; 
  /* Imagem de fundo (Seta) */
  background: url('../../../images/icons/form-select-open.svg') no-repeat #ffffff;  

  width: 24.3rem; 
  height: 5rem;   
  
  border: 1px solid #BFBFBF;
  border-radius: 1.1rem;

  color: var(--color-text-base);
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
}

.credit-card form #payment {    
  /*Posição da imagem do background*/   
  background-position: 21.5rem center;  
  
  width: 25rem; 

  padding-left: 4.5rem;

  overflow: hidden;
  text-overflow: ellipsis;
}

.credit-card form fieldset input {
  width: 36.2rem;
  height: 5rem;
  border: 1px solid #BFBFBF;
  border-radius: 9px;
  outline: none;

  padding: 1.7rem;
  font-size: 1.6rem;

  color: var(--color-text-base);
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
}

.credit-card form fieldset input::placeholder {
  color: #BFBFBF;
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
}

.credit-card input:valid {
  border: 2px solid #B2D235;
}


.credit-card form section:first-of-type {
  width: 36.2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.credit-card form section fieldset input {
  width: 15.2rem;
}

.credit-card form section fieldset + fieldset input {
  width: 16.6rem;
}

.credit-card form section fieldset + fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.credit-card form .button-light {
  width: 23.6rem;
}

/* Material Switch style */
.payment-options-wrapper .MuiSwitch-colorSecondary.Mui-checked {
  color: #009688;
}

.payment-options-wrapper .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: #009688;
}

.payment-options-wrapper .MuiSwitch-switchBase {
  color: #F1F1F1;
}

.payment-options-wrapper .MuiSwitch-track {
  opacity: 0.25;
}

.credit-card form .toggle-switch {
  margin: 0;
}

.switch label {
  margin-left: -0.2rem;
}

.switch a {
  /* margin: 0 0.4rem; */

  color: #2B5564;
}


/* ----- Pagamento por boleto ----- */
.payment-card-bill {
  width: 51.7rem;
  
  border: 1px solid #BFBFBF;
  border-radius: 1.3rem;

  overflow: hidden;
}

.payment-card-bill.active {
  margin-top: 1rem;
}

.payment-card-bill main {
  height: min(52vh, 45.7rem);

  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  border-top: 1px solid #BFBFBF;
  padding: 0 3.1rem 0 4.1rem;

  display: none;

}

.payment-card-bill.active main {
  display: flex;
}

.payment-card-bill main > div {
  width: 44.5rem;
}

.payment-card-bill main p {
  font-size: 1.6rem;
  color: var(--color-text-base);
  line-height: 2.3rem;
}

.payment-card-bill main > div p + p {
  margin-top: min(3vh, 2.3rem);
}

.payment-card-bill .button-light {
  width: 20rem;
  margin-bottom: 2rem;
}

