.premium-offer-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.semestral-view {
  display: none;
  flex-direction: column;
  align-items: flex-end;
}

.semestral-view.active {
  display: flex;
}

.premium-offer-card .semestral-view > span {
  font: normal 1.8rem/2.4rem Montserrat;
  color: #656565;

  cursor: pointer;
}

.premium-offer-card .card-wrapper {
  width: 61.1rem;
  height: 28.3rem;

  border-radius: 1.1rem;
  box-shadow: 0 0.3rem 0.6rem #00000029;

  display: flex;
  flex-direction: row;

  overflow: hidden;
}

.premium-offer-card aside,
.premium-offer-card main {
  width: 50%;

  display: flex;
  flex-direction: column;
}

.premium-offer-card aside {
  align-items: center;
  justify-content: space-between;

  padding: 2.2rem 4.4rem 0 3.1rem;
}

.premium-offer-card aside p {
  font: normal 1.8rem/2.4rem Montserrat, sans-serif;
  color: var(--color-secondary-alternative);
}

.premium-offer-card aside p + img {
  width: 25rem;
}

.premium-offer-card main {
  align-items: flex-end;

  padding: 2.2rem 2rem 1.5rem 1.9rem;

  background: var(--color-background-secondary);
}

.premium-offer-card main p:first-of-type {
  font: normal 1.8rem/2.4rem Montserrat;
  text-align: right;

  margin-bottom: 2.2rem;
}

.premium-offer-card main p:first-of-type span {
  color: var(--color-secondary-alternative);
}

.premium-offer-card main p + p {
  font: normal 1.5rem/1.6rem Montserrat;
}

.premium-offer-card main p + p span {
  text-decoration: line-through;
}

.premium-offer-card main a + p {
  width: 28rem;

  font: normal 1.2rem/1.6rem Montserrat;
  text-align: right;

  margin-top: 1.6rem;
}

.premium-offer-card main h2 {
  margin-bottom: 1.8rem;
}

.price-style span.for {
  font: normal 15px/19px Montserrat;
  font-size: 1.8rem;
  line-height: 2.3rem;

  color: var(--color-text-base);

  margin-right: 0.5rem;
}

.premium-offer-card button {
  width: 26.5rem;
  height: 4.5rem;

  border: 1px solid #707070;
  border-radius: 23px;

  font-size: 1.7rem;
  background: var(--color-background-secondary);

  cursor: pointer;
}

.premium-offer-card #button-rounded.alternative {
  width: 26.5rem;

  font-size: 1.7rem;
}

.anual-view {
  display: none;
}

.anual-view.active {
  display: block;
}

.anual-view button {
  background: var(--color-background);

  font-weight: normal;

  margin-bottom: 6rem;
  margin-right: 0.5rem;
}

/*
@media (max-height: 800px) {
  .premium-offer-card .card-wrapper {
    width: 40.7rem;

    display: flex;
    flex-direction: column;
  }

  .premium-offer-card aside,
  .premium-offer-card main {
    width: 100%;
  }

  .premium-offer-card aside {
    padding: 1.5rem 2.2rem 0 2.1rem;
    background: var(--color-background-secondary);
  }

  .premium-offer-card aside h3 {
    text-align: left;
  }

  .premium-offer-card aside img {
    display: none;
  }

  .premium-offer-card main {
    padding: 1rem 2rem 1.5rem 1.9rem;

    display: block;
  }

  .premium-offer-card main h3 {
    float: left;

    font: bold 1.8rem/1.6rem Montserrat;
  }

  .premium-offer-card main p,
  .premium-offer-card main h2,
  .premium-offer-card button {
    float: right;
  }

  .premium-offer-card main h2 {
    margin-bottom: 1vh;
  }

  .premium-offer-card .semestral-view > p {
    margin-top: 1vh;
  }
}
*/