$font-primary: Montserrat, sans-serif;

.courses-list {
  .course {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;

    & + .course {
      border-top: 2px solid var(--color-line-in-white);
      padding-top: 2rem;
    }
  }

  h2 {
    margin: 1.8rem 0 2rem 0;
    font: normal 3.5rem/4.3rem Montserrat;
  }

  img {
    width: 19.2rem;
    border-radius: 1rem;
    margin-right: 1.8rem;
  }

  .course-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      font: normal 2rem/2.2rem Montserrat;
    }

    > div:first-of-type {
      display: flex;
      flex-direction: column;

      span {
        font: normal 1.7rem/2.2rem Montserrat;
        color: var(--color-secondary-alternative);
      }
    }

    > div:last-of-type {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        text-decoration: line-through;
        font: normal 2.5rem/2.2rem Montserrat;
        color: var(--color-secondary-alternative);
      }

      a {
        font: normal 2rem/2.2rem Montserrat;
        color: var(--color-secondary-alternative);
      }
    }
  }
}
