.create-account-title h3{
  width: 51.7rem;

  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: 2rem;
  text-align: left;

  margin-bottom: min(2vh, 2rem);
  padding-left: 1rem;
}

.create-account-card {
  width: 51.7rem;

  background: var(--color-background);

  border-radius: 1.3rem;
  box-shadow: 0px 3px 6px #00000029;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account-card a {
  color: var(--color-text-link);
}

.create-account-card form {
  width: 100%;

  padding-top: 2.7rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account-card form > fieldset {
  margin-bottom: 1.5rem;
}

.create-account-card form fieldset label {
  width: 100%;

  display: flex;

  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  color: var(--color-text-base);
  font-weight: normal;

  margin-bottom: 0.6rem;
}

.create-account-card form fieldset input {
  width: 36.3rem;
  height: 5rem;
  border: 1px solid #bfbfbf;
  border-radius: 9px;
  outline: none;

  padding: 1.7rem;

  color: var(--color-text-base);
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
}

.create-account-card form input.form-small {
  width: 9.6rem;
}

.create-account-card form input.form-medium {
  width: 25.1rem;
}

.create-account-card form fieldset input::placeholder {
  color: #bfbfbf;
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
}

.create-account-card input:valid,
.create-account-card select:valid {
  border: 2px solid #B2D235;
}

.create-account-card form section {
  display: flex;
  flex-direction: row;

  margin-bottom: min(2vh, 2rem);
}

.create-account-card form section:first-of-type {
  display: flex;
  flex-direction: row;

  margin-top: min(1vh, 1rem);
  margin-bottom: min(2.5vh, 2.5rem);
}

.create-account-card form section fieldset + fieldset {
  margin-left: 1.6rem;
}

.create-account-card form section fieldset + fieldset label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.create-account-card form section fieldset + fieldset label a {
  font-size: 1.4rem;
}

.create-account-card form section.middle-section fieldset input {
  width: 17.3rem;
}

.create-account-card form fieldset .input-container input {
  border: 0;
}

.create-account-card .input-container {
  position: relative;
  width: 36.3rem;
}

.create-account-card #password + img {
  position: absolute;

  top: 50%;
  right: 8px;

  transform: translate(0, -50%);

  cursor: pointer;
}

.create-account-card .select-appearance {
  /* Remove estilo padrão do Chrome */
  -webkit-appearance: none;
  /* Remove estilo padrão do FireFox */
  -moz-appearance: none;
  /* Remove estilo padrão do FireFox*/
  appearance: none;
  /* Imagem de fundo (Seta) */
  background: url('../../../assets/images/icons/form-select-open.svg') no-repeat #ffffff;

  width: 9.6rem;
  height: 5rem;

  border: 1px solid #BFBFBF;
  border-radius: 9px;

  color: var(--color-text-base);
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
}

#country {
  background-position: 1rem center;
  /*Posição da imagem do background*/

  padding-left: 3.1rem;
}

#state {
  background-position: 6.5rem center;
  /*Posição da imagem do background*/

  padding-top: 0.2rem;
  padding-left: 2rem;

  font-size: 2rem;
}

#city {
  /*Posição da imagem do background*/
  background-position: 21.5rem center;

  width: 25rem;

  padding-left: 2rem;

  overflow: hidden;
  text-overflow: ellipsis;
}


.create-account-card #button-rounded {
  margin-top: min(2vh, 2rem);
  margin-bottom: min(4vh, 4.8rem);
}

.create-account-card .terms-and-policies {
  margin-top: -2rem;
  margin-bottom: 1.5rem;

  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
}

.create-account-card .terms-and-policies a {
  margin: 0 5px;
}

.login-option {
  width: 51.7rem;

  font: normal 1.7rem/1.6rem Montserrat;
  text-align: right;

  margin-top: min(4vh, 4rem);
  margin-bottom: min(4.5vh, 4.5rem);
}

.login-option a {
  color: var(--color-text-link);

  margin-left: 0.5rem;
}

.create-account-card .progress-bar {
  margin-top: min(2vh, 3rem);
}

@media (min-width: 840px) {
  .create-account-card form > fieldset {
    margin-bottom: 0.5vh;
  }

  .create-account-card form section:first-of-type {
    margin: 1rem 0;
  }

  .create-account-card form > fieldset:last-of-type {
    margin-top: 1vh;
  }

  .large-margin {
    margin-top: min(12vh, 12rem);
  }

  .create-account-card .progress-bar {
    margin-top: 2rem;
  }

  .create-account-card .progress-bar {
    margin-top: min(4vh, 3.7rem);
  }
}

@media (max-height: 700px) {
  #page-signup main h3 {
    margin-top: 1vh;
    margin-bottom: 0.5vh;
  }

  #page-signup .progress-container {
    margin-top: min(1vh, 1rem);
    margin-bottom: 1rem;
  }
}
