body {
  overflow-x: hidden;
}

#track-page {
  width: 100vw;
  min-height: 100vh;
  background: var(--color-background);
}

#track-page .hero {
  position: relative;
  width: 100%;
  height: 29.5rem;
  margin-top: 6.5rem;
}
#track-page .hero .img-filter {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #424242;
  opacity: 0.5;
}
#track-page .hero .blur-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#track-page .hero .blur-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2.5px) brightness(100%);
}
#track-page .hero .content-wrapper {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 153rem;
  height: 100%;
  padding: 2rem 4rem;
}
#track-page .hero .content-wrapper .nav-tree {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 3.3rem;
  margin-left: -10rem;
  margin-bottom: 8.7rem;
  padding: 0 1rem;
  border-radius: 0.7rem;
  background: rgba(0, 0, 0, 0.26);
}
@media screen and (max-width: 1700px) {
  #track-page .hero .content-wrapper .nav-tree {
    margin-left: 0;
  }
}
#track-page .hero .content-wrapper .nav-tree span {
  margin: 0 1rem;
  font: normal 1.3rem/1.6rem Montserrat;
  color: var(--color-primary);
}
#track-page .hero .content-wrapper .nav-tree a {
  font: normal 1.3rem/1.6rem Montserrat;
  color: var(--color-primary);
  text-decoration: none;
}
#track-page .hero .content-wrapper .nav-tree a:last-of-type {
  color: #ffffff;
  pointer-events: none;
}
#track-page .hero .content-wrapper > h1 {
  font: normal 3rem/3.7rem Montserrat;
  color: var(--color-text-white);
  text-transform: uppercase;
}
#track-page .hero .content-wrapper > h3 {
  margin-bottom: 0.7rem;
  font: normal 2rem/2.4rem Montserrat;
  color: var(--color-primary);
  text-transform: uppercase;
}

#track-page > main {
  width: 100%;
  padding: 3rem 4rem 8rem 4rem;
  background: var(--color-background);
}
#track-page > main .content-wrapper {
  position: relative;
  max-width: 145rem;
  margin: 0 auto;
}
#track-page > main .content-wrapper > section {
  width: 56%;
  max-width: 80.7rem;
  color: var(--color-text-base);
}
@media screen and (max-width: 1490px) {
  #track-page > main .content-wrapper > section {
    width: 51%;
  }
}
@media screen and (max-width: 1195px) {
  #track-page > main .content-wrapper > section {
    width: 95%;
    max-width: 95%;
  }
}

.track-description p {
  margin-bottom: 3rem;
  font: normal 2rem/2.7rem Montserrat;
}
.track-description h3 {
  margin-bottom: 3.5rem;
  font: normal 2.5rem/3rem Montserrat;
  color: var(--color-secondary);
}

.track-tab-selector .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.track-tab-selector button {
  z-index: 30;
  flex: 1;
  padding: 0 1rem;
  padding-bottom: 0.7rem;
  background: none;
  font: normal 2.5rem/3rem Montserrat;
  transition: color 0.2s;
}
.track-tab-selector button.active {
  color: var(--color-secondary);
  border-bottom: 6px solid var(--color-primary);
  pointer-events: none;
}
.track-tab-selector button:hover {
  color: var(--color-secondary);
  border-bottom: 6px solid var(--color-primary);
}
.track-tab-selector .underline {
  position: relative;
  bottom: 0.4rem;
  width: 100%;
  max-width: 80.7rem;
  border-bottom: 2px solid var(--color-line-in-white);
}

.courses .course {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.courses .course + .course {
  border-top: 2px solid var(--color-line-in-white);
  padding-top: 2rem;
}
.courses h2 {
  margin: 1.8rem 0 2rem 0;
  font: normal 3.5rem/4.3rem Montserrat;
}
.courses img {
  width: 19.2rem;
  border-radius: 1rem;
  margin-right: 1.8rem;
}
.courses .course-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.courses .course-description p {
  font: normal 2rem/2.2rem Montserrat;
}
.courses .course-description > div:first-of-type {
  display: flex;
  flex-direction: column;
}
.courses .course-description > div:first-of-type span {
  font: normal 1.7rem/2.2rem Montserrat;
  color: var(--color-secondary-alternative);
}
.courses .course-description > div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.courses .course-description > div:last-of-type span {
  text-decoration: line-through;
  font: normal 2.5rem/2.2rem Montserrat;
  color: var(--color-secondary-alternative);
}
.courses .course-description > div:last-of-type a {
  font: normal 2rem/2.2rem Montserrat;
  color: var(--color-secondary-alternative);
}

/*# sourceMappingURL=styles.css.map */
