#page-checkout {
  width: 100vw;
  min-height: 100vh;
  background: var(--color-background);

  font-family: Montserrat, sans-serif;
  color: var(--color-text-base);
}

#page-checkout > header {
  width: 100vw;
  height: 7vh;
  background: var(--color-background);
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99999;
}

#page-checkout > header a img {
  width: 16.1rem;
  margin-left: min(16.1rem, 8.3vw);
}

#page-checkout .content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  min-height: 93vh;

  padding-top: min(2vh, 2rem);
}

#page-checkout .content-wrapper > main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: clamp(5rem, 6vw, 11.8rem);
}

/* ---------------- ASIDE ---------------- */
#page-checkout .content-wrapper > aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  width: 62.5rem;
  /* height: 90%;
  max-height: 74.6rem; */

  padding-bottom: 3rem;
}

#page-checkout .content-wrapper aside section > h3 {
  width: 62.1rem;

  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: 2rem;

  padding-bottom: 2rem;


  border-bottom: 1px solid #bfbfbf;
}

.checkout-discounts,
.checkout-total {
  width: 62.1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-top: min(2vh, 2rem);
}

.checkout-discounts {
  border-bottom: 1px solid #BFBFBF;

  padding-bottom: min(2vh, 2rem);
}

.checkout-discounts h2 {
  font: bold 1.8rem/2.4rem Montserrat;
}

.checkout-discounts h3 {
  font: normal 1.8rem/2.4rem Montserrat;
}

.checkout-discounts h3 span {
  color: #01aa9d;
}

.checkout-total p {
  font: normal 2rem/2.4rem 'Source Sans Pro', sans-serif;

  margin-right: 8.5rem;
}

.coupon-input {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.coupon-input h3 {
  font: normal 1.8rem/2.2rem Montserrat;

  margin-top: 2.3rem;
  margin-bottom: 1rem;
}

.coupon-input span {
  position: absolute;
  bottom: -2.5rem;
  z-index: 99999;

  padding-top: 0.6rem;

  color: var(--color-alert);
  font-size: 1.8rem;
}

.input-container {
  width: 33.7rem;
  height: 4.8rem;

  display: flex;

  border: 0.1rem solid #bfbfbf;
  border-radius: 0.9rem;

  overflow: hidden;
}

.input-container input {
  width: 23.7rem;
  height: 100%;

  outline: none;
  padding: 1.7rem;

  color: var(--color-text-base);
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
}

.input-container input::placeholder {
  color: #bfbfbf;
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
}

.input-container button {
  width: 10rem;
  height: 100%;

  background: var(--color-background-secondary);

  font-weight: normal;
  font-size: 1.7rem;

  cursor: pointer;

  transition: background-color 0.2s;
}

.input-container button:hover {
  background: #dadada;
}

.anual-offer-card {
  margin-bottom: 2rem;
}

/* Quando usado para compra bem sucedida */
section.checkout-cart-success > h3 {
  font-weight: bold;
}

section.checkout-premium-success {
  width: 100%;

  margin: auto 0;
}

section.checkout-premium-success h2 {
  font: normal 2.4rem/2.8rem Montserrat;
  color: var(--color-secondary);

  margin-bottom: 1rem;
}

section.checkout-premium-success p {
  font: normal 1.8rem/2.8rem Montserrat;

  margin-bottom: 3rem;
}

@media (max-height: 900px) {
  /* Estilização do card de pesquisa */
  #page-checkout .complete-profile-wrapper .card-container {
    height: 75vh;
  }
}

@media (max-height: 840px) {
  #page-checkout .content-wrapper {
    padding-top: 2rem;
  }

  #page-checkout .payment-options-title,
  #page-checkout .credit-card.active {
    margin-bottom: 1rem;
  }

  #page-checkout .content-wrapper aside section > h3 {
    padding-bottom: 1rem;
  }

  #page-checkout .credit-card main {
    height: 40.7rem;
  }

  #page-checkout .payment-card-bill main > div p + p {
    margin-top: 1rem;
  }

  #page-checkout .product-checkout-card {
    margin-top: 2rem;
  }

  #page-checkout .coupon-input h3 {
    margin: 0;
  }

  /* Estilização do card de pesquisa */
  #page-checkout .complete-profile-title {
    margin-bottom: 1rem;
  }

  #page-checkout .complete-profile-wrapper .select-appearance,
  #page-checkout .complete-profile-wrapper .input-container-research {
    margin-bottom: 1vh;
  }

  #page-checkout .complete-profile-wrapper .card-container {
    padding: 3rem 3.1rem 2.8rem 4rem;
  }

  #page-checkout .complete-profile-wrapper form fieldset label {
    margin-bottom: 0.5vh;
  }

  #page-checkout .progress-container {
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  #page-checkout .complete-profile-wrapper #button-rounded.secondary {
    margin-top: 1vh;
  }
}

@media (max-height: 700px) {
  #page-checkout .content-wrapper {
    padding-top: 0.5rem;
  }

  #page-checkout .payment-options-header {
    height: 5rem;
  }

  #page-checkout .complete-profile-wrapper .card-container {
    padding: 1.5rem 3.1rem 1.8rem 4rem;
  }

  #page-checkout .complete-profile-wrapper .card-container h2,
  #page-checkout .complete-profile-wrapper .card-container p {
    margin-bottom: 1vh;
  }

  #page-checkout .complete-profile-wrapper form .select-appearance,
  #page-checkout .input-container-research {
    height: 4.5rem;
  }

  #page-checkout .complete-profile-wrapper .progress-bar {
    margin-top: 0;
  }

  #page-checkout .product-checkout-card {
    padding-bottom: 1rem;
  }
}

@media (max-width: 1360px) {
  #page-checkout .content-wrapper > main {
    margin-right: 1vw;
  }
}
