$font-primary: Montserrat, sans-serif;

body {
  overflow-x: hidden;
}

#course-track {
  width: 100vw;
  min-height: 100vh;
  background: var(--color-background);
}

.course-track-header {
  position: fixed;
  z-index: 99999;
  top: 0;

  width: 100vw;
  height: 6.6rem;

  padding-left: 3vw;
  padding-right: 3vw;

  background: var(--color-background);
  box-shadow: 0px 3px 6px #00000029;
}

.header-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 192rem;
  height: 100%;

  margin: 0 auto;

  a {
    display: flex;
    align-items: center;

    img {
      height: 3.8rem;
    }
  }

  form {
    position: relative;

    button {
      position: absolute;
      top: 50%;
      right: 1.8rem;

      transform: translate(0, -50%);

      background: none;
    }
  }

  input {
    text-overflow: ellipsis;

    width: 16vw;
    max-width: 32.3rem;
    height: 4rem;

    padding-left: 1.8rem;
    padding-right: 3.8rem;
    border: 1px solid #bfbfbf;
    border-radius: 20px;

    font-family: $font-primary;

    &::placeholder {
      font-family: $font-primary;
      font-size: 1.4rem;
      color: var(--color-line-in-white);
    }
  }
}

.course-track-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 65vw;
  max-width: 107.5rem;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 73%;
    max-width: 75rem;

    margin-bottom: 0;
  }

  li {
    font-family: $font-primary;
    font-size: 1.4rem;
    line-height: 2rem;
    list-style: none;

    a {
      color: var(--color-text-base);
      text-decoration: none;

      transition-property: all;
      transition-duration: 0.2s;
    }

    a.signup {
      text-decoration: underline;
    }

    &.active {
      a {
        border-bottom: 3px solid #b0d135;

        font-weight: 700;
        color: #5d883e;
        pointer-events: none;
      }
    }

    a:hover {
      border-bottom: 3px solid #b0d135;

      color: #5d883e;
      text-decoration: none;
    }
  }
}

#course-track button#button-rounded {
  width: max(25%, 17.2rem);
  max-width: 25.2rem;
  height: 4rem;

  font-size: 1.3rem;
  font-weight: 700;
}

#course-track .hero {
  // overflow: hidden;
  position: relative;

  width: 100%;
  height: 29.5rem;

  margin-top: 6.6rem;

  .img-filter {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;

    background: #424242;

    opacity: 0.5;
  }

  .blur-container {
    overflow: hidden;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;

      filter: blur(2.5px) brightness(100%);
    }
  }

  .content-wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 100%;
    max-width: 153rem;
    height: 100%;

    padding: 2rem 4rem;

    .nav-tree {
      display: flex;
      align-items: center;

      width: fit-content;
      height: 3.3rem;

      margin-left: -10rem;
      margin-bottom: 8.7rem;
      padding: 0 1rem;
      border-radius: 0.7rem;

      background: rgb(0, 0, 0, 0.26);

      // Desabilita o offset em telas menores
      @media screen and (max-width: 1700px) {
        margin-left: 0;
      }

      span {
        margin: 0 1rem;

        font: normal 1.3rem/1.6rem Montserrat;
        color: var(--color-primary);
      }

      a {
        font: normal 1.3rem/1.6rem Montserrat;
        color: var(--color-primary);
        text-decoration: none;

        &:last-of-type {
          color: #ffffff;
          pointer-events: none;
        }
      }
    }

    > h2 {
      margin-bottom: 0.7rem;

      font: normal 2rem/2.4rem Montserrat;
      color: var(--color-primary);
    }

    > h3 {
      font: normal 3rem/3.7rem Montserrat;
      color: var(--color-text-white);
    }
  }
}

// VIDEO CARD
.track-video-card {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 5;
  top: 12rem;
  right: 36rem;

  margin-left: 100rem;
  margin-top: -10rem;
  // transform: translate(-50%, 0);

  // @media screen and (min-width: 1700px) {
  //   left: 68%;
  //   transform: translate(-50%, 0);
  // }

  .card {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 54.4rem;
    height: 65.8rem;

    background: var(--color-background);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 14px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 2.3rem;
  }

  video {
    width: 51.7rem;
    height: 29rem;

    object-fit: cover;

    box-shadow: 0px 3px 6px #00000029;
  }

  .video-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 85%;

    margin-top: 1.5rem;

    p {
      font: normal 1.8rem/2rem Montserrat;
    }

    span {
      font: normal 2rem/2.2rem Montserrat;
    }
  }

  h3 {
    width: 83%;

    margin: 3rem 0 2rem 0;

    font: normal 4.5rem/4.5rem Montserrat;
    color: var(--color-secondary);
    text-align: left;
  }

  h3 + div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 83%;

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 5.4rem;

      border-radius: 0.9rem;

      background: var(--color-secondary);
      color: var(--color-text-white);
      font: normal 2.5rem/3rem Montserrat;

      &:hover {
        background: var(--color-secondary-hover);
      }

      img {
        width: 4rem;
        margin-left: 1rem;
      }
    }

    span {
      margin-top: 1.5rem;
      font: normal 1.8rem/2.2rem Montserrat;
    }
  }
}

.card .offer {
  width: 100%;
  height: 9rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-primary);

  p {
    width: 23.4rem;
    text-align: right;
    font: normal 2rem/2.4rem Montserrat;
  }

  button {
    width: 18.3rem;
    height: 4.3rem;

    margin-left: 2rem;
    margin-right: 5rem;

    border: 1px solid var(--color-secondary);
    border-radius: 9px;

    background: none;
    color: var(--color-secondary);
    font: bold 2.5rem/2.2rem Montserrat;

    &:hover {
      background: var(--color-primary-hover);
    }
  }
}

.card-actions-container {
  width: 54.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 3rem;
  padding: 0 0.5rem;

  p {
    font: normal 1.8rem/4rem Montserrat;
  }

  button {
    transition: transform 0.2s;

    &:hover {
      filter: brightness(90%);

      transform: translateY(-2px);
    }
  }

  .save {
    width: 9rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: none;
  }

  .share {
    width: 33.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      transition: transform 0.2s;

      &:hover {
        filter: brightness(90%);

        transform: translateY(-2px);
      }
    }
  }
}
// END OF VIDEO CARD

#course-track > main {
  width: 100%;
  padding: 3rem 4rem 8rem 4rem;
  background: var(--color-background);

  .content-wrapper {
    max-width: 145rem;

    margin: 0 auto;

    section {
      width: 100%;
      max-width: 80.7rem;

      color: var(--color-text-base);
    }
  }
}

.track-description {
  p {
    margin-bottom: 3rem;
    font: normal 2rem/2.7rem Montserrat;
  }

  h3 {
    margin-bottom: 3.5rem;
    font: normal 2.5rem/3rem Montserrat;
    color: var(--color-secondary);
  }
}

.track-tab-selector {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
  }

  button {
    z-index: 30;
    flex: 1;

    padding: 0 1rem;
    padding-bottom: 0.7rem;

    background: none;
    font: normal 2.5rem/3rem Montserrat;

    transition: color 0.2s;

    &.active {
      color: var(--color-secondary);
      border-bottom: 6px solid var(--color-primary);
      pointer-events: none;
    }

    &:hover {
      color: var(--color-secondary);
      border-bottom: 6px solid var(--color-primary);
    }
  }

  .underline {
    position: relative;
    bottom: 0.4rem;

    width: 100%;
    max-width: 80.7rem;

    border-bottom: 2px solid var(--color-line-in-white);
  }
}

.courses {
  .course {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;

    & + .course {
      border-top: 2px solid var(--color-line-in-white);
      padding-top: 2rem;
    }
  }

  h2 {
    margin: 1.8rem 0 2rem 0;
    font: normal 3.5rem/4.3rem Montserrat;
  }

  img {
    width: 19.2rem;
    border-radius: 1rem;
    margin-right: 1.8rem;
  }

  .course-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      font: normal 2rem/2.2rem Montserrat;
    }

    > div:first-of-type {
      display: flex;
      flex-direction: column;

      span {
        font: normal 1.7rem/2.2rem Montserrat;
        color: var(--color-secondary-alternative);
      }
    }

    > div:last-of-type {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        text-decoration: line-through;
        font: normal 2.5rem/2.2rem Montserrat;
        color: var(--color-secondary-alternative);
      }

      a {
        font: normal 2rem/2.2rem Montserrat;
        color: var(--color-secondary-alternative);
      }
    }
  }
}

#course-track-footer {
  z-index: 6;

  width: 100vw;

  padding: 0 min(4vw, 4rem);

  background: var(--color-background-secondary);
  font-family: $font-primary;
  color: var(--color-text-base);

  .footer-content-wrapper {
    max-width: 145rem;
    height: 100%;

    margin: 0 auto;
    padding-top: 5.7rem;

    .row {
      min-height: 15.5rem;

      > div {
        margin-bottom: 3rem;
      }
    }

    img.footer-logo {
      max-width: 19.4rem;
      margin-top: -1.5rem;
      margin-left: -0.4rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.6rem;

      &.brand-description {
        max-width: 27.6rem;
        margin-top: -0.4rem;
      }
    }

    h3 {
      margin-bottom: 0.5rem;

      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 400;
    }

    h2 {
      margin-bottom: 0.5rem;

      font-size: 2rem;
      line-height: 2.5rem;
    }

    li {
      font-family: $font-primary;
      font-size: 1.8rem;
      line-height: 2.5rem;
      list-style: none;

      & + li {
        margin-top: 0.2rem;
      }

      a {
        display: block;
        max-width: 26.6rem;

        text-decoration: none;
        color: var(--color-text-base);
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .copyrights {
      justify-content: center;
      align-items: center;
      min-height: 9.3rem;
    }

    .social-networks-links {
      display: flex;
      flex-direction: row;
      margin-top: 0.8rem;

      img {
        width: 3.9rem;
        margin-right: 0.6rem;
      }
    }
  }
}
